*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito",sans-serif;
    background:#f8f8f8 ;
    
}
.input{
    text-align: center;
    margin:100px auto;
}
input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border : none;
    border-radius: 1px;
    padding: 10px 10px;
}
.input input[type="text"]{
    height: 55px;
    width: 600px;
    padding: 5px 10px;
    background:#e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border :none;
    border-radius:1px;
}
.card{
     width: 50%;
     background: #e7e7e7;
     height: 40vh;
     margin:50px auto;
     border-radius:2px;
}
.close{
    float:right;
    margin-top: -2px;
    cursor:pointer;
    margin-right: 20px;

}
.card h1{
    padding: 5px 0;
    text-align: center;

}
.card p{
    text-align: center;
    margin: 40px 0;
    font-size:20px;

}